*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#F8F6EB;
}

.header{
    justify-content: flex-start;
    display: flex;
    align-items: center;
    position: sticky;
    background:#F8F6EB;
    padding: 21px 40px;
    top: 0;
    color:#6E683C;
    font-size: 20px;
    border-bottom: 8px solid #6E683C;
    padding-bottom: 13px;
    margin-bottom: 15px;   
}

.profile-button{
    display: flex;
    margin-left: auto;
    padding: 7px 10px;
    gap: 16px;
    max-width: 150px;
    text-align: left;
    align-items: center;
    border: 1.5px solid #a8ad63;
    border-radius: 90px;
    color: #a8ad63;
    font-size: 1rem;
    text-decoration: none; /* stolen from a stack overflow thing, this gets rid of the underline on hyperlinks*/
    background: #FCFAF1;
}

.profile-picture{
    max-width: 28px;
    height: auto;
    border-radius: 50%;
    justify-content: right;
    align-items: center;
}

.navbar{
    display: flex;
    height: 20px;
    align-items: center;
    border-bottom: 2px solid #6E683C;
    padding: 0px 40px;
    box-sizing: border-box;
}

.navbar a{
    text-decoration: none;
    color:#BF8951;
    padding-inline: 9%;
}

/* to get rid of the weird line thingos that kept coming up */
hr {
    color:#F8F6EB;
    border-width: 0px;
}

.section1{
    height: 70vh;
    padding: 50px 40px;
    background-image: url('/static/images/baking_background_picture.png');
    background-repeat: no-repeat;
    color:#F8F6EB
}

.section1 h1{
  font-size: 40px;
  padding-bottom: 13px;
}

.default-button {
    background-color:#F8F6EB;
    color:#6E683C;
    border-radius: 30px; 
    padding: 12px 24px;
    text-decoration: none;
}

.default-button:hover {
  background-color:#BF8951;
  color:#F8F6EB;
}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Log In/Register Page */
.sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('/static/images/login_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.log-in-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
  margin-top: 20px;
  width: 440px;
  height: 420px;
  padding: 30px;
  background-color:#F8F6EB;
}

.register-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
  margin-top: 20px;
  width: 500px;
  height: 520px;
  padding: 30px;
  background-color:#F8F6EB;
}

.login-header {
  text-align: center;
  margin: 20px 0 40px 0;
}

.login-header header{
  color:#6E683C;
  font-size: 30px;
}

.input-box .input-field {
  width: 100%;
  height: 60px;
  font-size: 17px;
  padding: 0 25px;
  margin-bottom: 15px;
  border-radius: 30px;
  border: 1.5px solid #a8ad63;
  background: #FCFAF1;
  outline: none;
  color:#6E683C;
}

::placeholder {
  color:#a8ad63;
}

.remember-me {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.remember-me section {
  display: flex;
  align-items: center;
  font-size: 14px;
  color:#6E683C;
  text-decoration: none;
}

.remember-me a {
  text-decoration: none;
  color:#6E683C;
}

.remember-me a:hover {
  text-decoration: underline;
  color:#BF8951;
}

.submit-btn {
  width: 100%;
  height: 60px;
  background:#6E683C;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  color:#F8F6EB;
}

.submit-btn:hover {
  background:#a8ad63;
}

/* Explore */
.filterDiv {
  display: none;
}

.show {
  display: block;
}

/* History */
.history-container {
  padding: 21px 40px;
  min-height: 400px;
}

.history-container h1 {
  color:#6E683C;
  font-size: 40px;
  margin-top: 20px;
}

.history-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.history-content p {
  flex: 1;
  color: #6E683C;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
}

.history-image img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history-image img {
  border-radius: 30px;
  max-width: 460px;
  height: auto;
  border: 2px solid #a8ad63;
}

.history-container2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  background:#a8ad63;
  padding: 10px 60px;
  min-height: 200px;
}

.history-content2 {
  color:#F8F6EB;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.history-content2 p {
  font-size: 18px;
  line-height: 1.6;
}


/* Profile Page */
.view-profile-picture {
  max-width: 60px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 30px;
}

.profile-content {
  text-align: center;
  padding: 10px 0;
}