<!doctype html>
<html lang="en-AU">
    <head>
        <meta charset="UTF-8">
        <title>First Nation's Baking</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1> First Nation's baking </h1>
        <div class="navbar">
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            <a href="{{ url_for('recipe_base') }}">Recipe Example</a>
            <a href="#" class="right">Explore Recipes</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>