{% extends "base.html" %}

{% block content %}
<h1> Explore Recipes </h1>
<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')"> Show all</button>
  <button class="btn" onclick="filterSelection('lilly-pilly')"> Lilly Pilly</button>
  <button class="btn" onclick="filterSelection('lemon-myrtle')"> Lemon Myrtle</button>
  <button class="btn" onclick="filterSelection('wattleseed')"> Wattleseed</button>
  <button class="btn" onclick="filterSelection('quandong')"> Quandong</button>
  <button class="btn" onclick="filterSelection('macadamia')"> Macadamia</button>
</div>

<!-- The filterable elements. Note that some have multiple class names (this can be used if they belong to multiple categories) -->
<div class="container">
  <div class="filterDiv lilly-pilly"><a href="https://www.easyreadrecipes.com/recipes/lilly-pilly-cordial/">Lilly Pilly Cordial</a></div>
  <div class="filterDiv lilly-pilly"><a href="https://www.delicious.com.au/recipes/strawberries-lilly-pillies-moscato-granita-bush-honey-cream/82ff9d8a-b766-41a1-896b-7632840b2ec4">Strawberry, Lilly Pilly, and Moscato Granita</a></div>
  <div class="filterDiv lemon-myrtle macadamia"><a href="#"></a>Banana Bread</div>
  <div class="filterDiv lemon-myrtle"><a href="#"></a>Lemon Myrtle Pavlova</div>
  <div class="filterDiv wattleseed"><a href="#"></a>Wattleseed Chocolate Tart</div>
  <div class="filterDiv wattleseed"><a href="#"></a>Wattleseed Profiteroles</div>
  <div class="filterDiv wattleseed"><a href="#"></a>Wattleseed Tiramisu</div>
  <div class="filterDiv wattleseed"><a href="#"></a>Wattleseed Clafoutis</div>
  <div class="filterDiv quandong"><a href="#"></a>Quandong Pie</div>
  <div class="filterDiv quandong"><a href="#"></a>Quandong Christmas Cake</div>
  <div class="filterDiv macadamia"><a href="#"></a>White Chocolate Macadamia Cookies</div>
</div>

{% endblock %}
