{% extends "base.html" %}

{% block content %}
    <section class="section1">
        <h1>Start Eating Local</h1>
        <p>Australia has a rich food culture spanning over 60,000 years, relying on seasonal, native produce to nourish communities.</p>
        <p>Here at Billabong Baking we believe in eating local to reduce our environmental impact, connect to indigenous culture, save money, and improve our nutritional health. We collect delicious recipes from all over the internet which use native Australian ingredients for you to search through.</p>
        <div class="s1-button-container">
            <a href="{{ url_for('history') }}" class="default-button">Learn More</a>
            <a href="{{ url_for('explore') }}" class="default-button">Explore Our Recipes</a>
        </div>
    </section>
    <br>

    <div class="comment-section">
        <div class="create-post-card">
            <form action="" method="post" class="post-form">
                {{ form.hidden_tag() }}
                <p class="form-group">
                    {{ form.post.label(class="form-label") }}<br>
                    {{ form.post(cols=32, rows=4, class="form-textarea") }}<br>
                    {% for error in form.post.errors %}
                    <span class="error-text">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit(class="submit-button") }}</p>
            </form>
        </div>

        <div class="post-feed">
            {% for post in posts %}
            <div class="post-item">
                <span class="post-author">{{ post.author.username }}</span>
                <p class="post-body">{{ post.body }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
