{% extends "base.html" %}

{% block content %}
    <section class="sign-in">
        <div class="log-in-box">
            <div class="login-header"><header>Sign In</header></div>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="input-box">
                    {{ form.username(size=32, placeholder="Username", class_="input-field") }}
                    {% for error in form.username.errors %}
                    <span>[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="input-box">
                    {{ form.password(size=32, placeholder="Password", class_="input-field") }}
                    {% for error in form.password.errors %}
                    <span>[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="remember-me">
                    <section> {{ form.remember_me() }} {{ form.remember_me.label }} </section>
                    <section>New User? <a href="{{ url_for('register') }}"> Click here to Register!</a> </section>
                </div>
                <div class="input-submit">{{ form.submit(class_="submit-btn")}}</div>
            </form>
        </div>
    </section>
{% endblock %}