{% extends "base.html" %}

{% block content %}
    <section class="sign-in">
        <div class="register-box">
            <img class="view-profile-picture" src="{{ url_for('static', filename='images/profile_picture.png') }}">
            <div class="login-header"><header>Profile</header></div>
            <div class="profile-content">
                <td><h1>Username: {{ user.username }}</h1></td>
                <td><h1>Email: {{ user.email }}</h1></td>
            </div>
        </div>
    </section>
{% endblock %}